/*   variables */
:root{
    --padding: 10px;
}
/*  /variables */

/************************ general ***************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
img{
    max-width: 100%;
}
.grey-text{ 
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    filter: brightness(0.5);
} 
.grey-text:hover{
    filter: brightness(1);
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6{
    color: #fff;
    padding: 0px 5px;
}
i{
        color: #000000;
}
.square30x30px{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6f6f6f;
    border-radius: 4px;
}
.circular-border{
    border: 1px solid #6f6f6f;
    border-radius: 50%;
    padding: 2px 3px;
    font-size: 0.5rem;
    margin-right: 10px;
}
/************************ /general ***************************/


/************************ utilities ***************************/
.flex { display: flex; }
.row { flex-direction: row; }
.column { flex-direction: column; }
.grow { flex-grow: 1; }
.wrap { flex-wrap: wrap; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.justify-start{ justify-content: flex-start; }
.justify-end{ justify-content: flex-end; }
.align-center{ align-items: center; }
.col-gap-5px{ column-gap: 5px;}
.col-gap-10px{ column-gap: 10px;}
.row-gap-5px{ row-gap: 5px;}
.row-gap-10px{ row-gap: 10px;}
.see{ border: 3px dashed red; }
.grey-line{ border-bottom: 2px solid #6f6f6f; }
/************************ /utilities ***************************/


/************************ content ***************************/
.web-app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
}
main{
    flex-grow: 1;
    position: relative;
}
main .album-container{
    height: calc(100vh - 100px);
    overflow-y: auto;
}
.super-square{
    background-color: brown;
    height: 300vh;
}
header{
    opacity: 80%;
    background-color: #333;
    position: absolute;
    width: 100%;
    right:0;
    top:0;
    padding: var(--padding);
    text-align: right;
}
header a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
    margin-right: 20px;

}
header a:hover{
    filter: brightness(40%);
}
aside{
    background-color: #000000;
    padding: 10px;
}
aside .top, aside .bottom{
    row-gap: 5px;
}
aside .small-logo{
    display: none;
}
aside .normal-logo{
    display: inline-block;
    width: 120px;
}
#logo-spotify{
    padding: 10px;
    margin-right: 60px;
}
aside div span{
    align-self: center;
}
aside .bottom img{
    background-color: dimgrey;
    border-radius: 50%;
}
aside h3{
    margin-top: 10px;
}
#special-i{
    color: #6f6f6f;
}
aside img.s-mode{
    width: 130px;
    padding-right: 20px;
}
.loghi-aside{
    width: 30px;
}
footer{
    background-color: #333;
    min-height: 100px;
}

/************************ /content ***************************/
@media screen and (max-width: 960px) {
    /* medium MD */
}

@media screen and (max-width: 768px) {
    /* tablet S */
    
}

@media screen and (max-width: 480px) {
    /* mobile XS */
    aside .top span{
        display: none;
    }
    aside .bottom .grey-text, aside .bottom .grey-line{
        display: none;
    }
    aside div {
        padding-left: 0px;
    }
    aside .small-logo{
        display: inline-block;
    }
    aside .normal-logo{
        display: none;
    }
    aside h3, aside .playlist-area{
        display: none;
    }
}