/*   variables */
:root{
    --padding: 10px;
}
/*  /variables */

/************************ general ***************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
img{
    max-width: 100%;
}
/************************ /general ***************************/


/************************ utilities ***************************/
.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.grow{
    flex-grow: 1;
}
.wrap{
    flex-wrap: wrap;
}
.justify-center{
    justify-content: center;
}
.justify-space-between{
    justify-content: space-between;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
}
.see{
    border: 3px dashed red;
}
/************************ /utilities ***************************/
.xs-mode{
    display: initial;
}
.s-mode{
    display: none;
}

/************************ content ***************************/
.web-app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* width: 100vw; */
}
.app-container{
    flex-grow: 1;
    display: flex;
}
main{
    flex-grow: 1;
    position: relative;
}
main .album-container{
    height: calc(100vh - 100px);
    overflow-y: auto;
}
.super-square{
    background-color: brown;
    height: 300vh;
}
header{
    opacity: 80%;
    background-color: #333;
    position: absolute;
    width: 100%;
    right:0;
    top:0;
    padding: var(--padding);
    text-align: right;
}
header a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 20px;
    text-decoration: none;
}
aside{
    background-color: #000000;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside .top{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
aside .top span{
    color: #6f6f6f;
}
aside .bottom{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

aside img.s-mode{
    width: 130px;
    padding-right: 20px;
}
.loghi-aside{
    width: 30px;
}
footer{
    background-color: #333;
    min-height: 100px;
}

/************************ /content ***************************/

@media screen and (min-width: 468px) {
    .xs-mode{
        display: none;
    }
    .s-mode{
        display: initial;
    }
}